In [2]:
import pandas as pd

In [ ]:
# categorize the charges into buckets and report on frequency charges for each bucket

In [3]:
df = pd.read_csv("../data/processed/prosecution_charges.csv")
df.head()

,Unnamed: 0,X,Charge,NW.Counts,SF.Counts,Description,Chapter,Section,Expungeable.,sex,murder
0,1,1056,"CORI, DISSEMINATE/SEEK UNLAWFULLY c6 ยง178",1,5,"CORI, DISSEMINATE/SEEK UNLAWFULLY",6,178,Yes,0,0
1,2,1058,SEX OFFENDER FAIL TO REGISTER c6 ยง178H,10,0,SEX OFFENDER FAIL TO REGISTER,6,178H,NaN,1,0
2,3,1059,FAILURE TO REGISTER OR VERIFY REGISRATION INFO...,0,2,FAILURE TO REGISTER OR VERIFY REGISRATION INFO...,6,178H,NaN,1,0
3,4,1060,SEX OFFENDER FAIL TO REGISTER C6/178H (a)(i) H...,3,0,SEX OFFENDER FAIL TO REGISTER C6/178H (A)(I) H...,6,178H (a)(i) HABITUAL OFFENDER,NaN,1,0
4,5,1061,SEX OFFENDER FAIL TO REGISTER C6/178H (a)(iii)...,4,0,SEX OFFENDER FAIL TO REGISTER C6/178H (A)(III)...,6,178H (a)(iii) HABITUAL OFFENDER,NaN,1,0

In [4]:
df.shape

(1691, 11)