In [3]:
import pandas as pd
import os

In [4]:
# get all the files in this directory
datadir = os.listdir()
datadir

['prosecution_categories',
 'crime_categories',
 '.ipynb_checkpoints',
 'README_processed.md',
 'Data Overview.ipynb',
 'README.md',
 'ma_court_data',
 'README_cleaned.md',
 'README_raw.md',
 'fbi_crime_data']

In [21]:
print("total files in data directory:", len(datadir) )

total files in data directory: 10

In [24]:
#most relevant data are in the ma_court_data folder where, specifically the merged files
os.listdir("ma_court_data")

['merged_suff.csv', 'merged_nw.csv', 'nw.csv', 'suff.csv', 'merged_ms.csv']

In [28]:
merged_suff = pd.read_csv("ma_court_data/merged_suff.csv")
merged_suff.head()
# merged_suff.shape

,Person ID,Court,Offense Date,Filed,Status,Count,Charge,Type Crime,Code Ucc Ctgry,Disposition,...,Dispo Date,CMRoffense,Chapter,Section,sex,murder,extra_criteria,Reason not expungeable,Analysis notes,Expungeable
0,SF-0,SUP,2015-11-04,2016-01-01,CL,1,"DRUG, DISTRIBUTE CLASS A, SUBSQ.OFF. c94C Ã‚Â§...",DR,F,Plea,...,2017-01-31,no,94C,32(b),0,0,NaN,NaN,NaN,Yes
1,SF-0,SUP,2015-11-04,2016-01-01,CL,2,"COCAINE, DISTRIBUTE, SUBSQ.OFF. c94C Ã‚Â§32A(d)",DR,F,Plea,...,2017-01-31,no,94C,32A(d),0,0,NaN,NaN,NaN,Yes
2,SF-0,SUP,2015-11-04,2016-01-01,CL,3,"DRUG, POSSESS TO DISTRIB CLASS A, SUBSQ. c94C ...",DR,F,Plea,...,2017-01-31,no,94C,32(b),0,0,NaN,NaN,NaN,Yes
3,SF-0,SUP,2015-11-04,2016-01-01,CL,4,"POSSESS TO DISTRIBUTE COCAINE, SUBSEQUENT. c94...",DR,F,Plea,...,2017-01-31,no,94C,32A(d),0,0,NaN,NaN,NaN,Yes
4,SF-1,SUP,2014-10-23,2016-01-01,CL,1,A&B ON +60/DISABLED c265 Ã‚Â§13K/F,AS,NaN,Verdict - Jury Trial,...,2016-08-02,no,265,13K/F,0,0,NaN,NaN,NaN,No

In [26]:
merged_nw = pd.read_csv("ma_court_data/merged_nw.csv")
merged_nw.head()
# merged_nw.shape

/home/linna/Apps/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Person ID,Court,Offense Date,Age at Offense,Filed,Status,Count,Charge,Disposition,Dispo Date,CMRoffense,Chapter,Section,sex,murder,extra_criteria,Reason not expungeable,Analysis notes,Expungeable
0,NW-0,Franklin Superior Court,2011-09-13,21.0,2014-10-28,Closed,1,ASSAULT TO MURDER c265 Ã‚Â§15,Not Guilty,2016-03-30,no,265,15,0,1,NaN,NaN,NaN,No
1,NW-0,Franklin Superior Court,2011-09-13,21.0,2014-10-28,Closed,2,ASSAULT TO MURDER c265 Ã‚Â§15,Not Guilty,2016-03-30,no,265,15,0,1,NaN,NaN,NaN,No
2,NW-0,Franklin Superior Court,2011-09-13,21.0,2014-10-28,Closed,3,ASSAULT TO MURDER c265 Ã‚Â§15,Not Guilty,2016-03-30,no,265,15,0,1,NaN,NaN,NaN,No
3,NW-0,Franklin Superior Court,2011-09-13,21.0,2014-10-28,Closed,4,ASSAULT TO MURDER c265 Ã‚Â§15,Not Guilty,2016-03-30,no,265,15,0,1,NaN,NaN,NaN,No
4,NW-0,Franklin Superior Court,2011-09-13,21.0,2014-10-28,Closed,5,ARSON OF DWELLING HOUSE c266 Ã‚Â§1,Not Guilty,2016-03-30,no,266,1,0,0,NaN,NaN,NaN,Yes